@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes spinY {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }
}

@layer components {
  .logo-white-outline {
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white) drop-shadow(1px -1px 0 white) drop-shadow(-1px 1px 0 white);
  }
}